.principal{
  background-color: rgb(40, 46, 53);
}

p{
  border: #00a2ff ;
}

.card{
  color:black;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 90px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  z-index: 99;
  background-color: aquamarine;
}
.ml-2 {
  transition: all 0.3s ease;
  text-decoration: none;
  font-size: 1.3em;
  font-family: verdana;
  padding: 10px;
  color: #00a2ff;
}

.ml-2:visited {
  color: #fa8900;
}

.ml-2:hover {
  color:white;
}

.ml-2:active {
  color: #27cc4d;
}
.breadcrumb-item{
    text-decoration: none;
}
@media (max-width: 767.98px) {
  .sidebar {
    top: 11.5rem;
    padding: 0;
  }
}

.navbar {
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

@media (min-width: 767.98px) {
  .navbar {
    top: 0;
    position: sticky;
    z-index: 999;
  }
}

.sidebar .nav-link {
  color: #333;
}

.sidebar .nav-link.active {
  color: #0d6efd;
}
